<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor Dashboard</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
</head>
<body class="bg-light">
    {% extends "base.html" %}
    {% block content %}
    <div class="container mt-5">
        <h3 class="text-success text-center mb-4">Patient Appointments</h3>
        <div>
            {% for patient in patients %}
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title text-success">{{ patient.firstname }} {{ patient.lastname }}</h5>
                        <p class="text-dark"><strong>Gender:</strong> {{ patient.gender }}</p>
                        <p class="text-dark"><strong>Age:</strong> {{ patient.age }}</p>
                        <p class="text-dark"><strong>Symptoms:</strong> {{ patient.symptoms }}</p>
                        <a href="{% url 'details_appointment' patient.id %}" class="btn btn-success text-white">Give Appointment</a>
                    </div>
                </div>
            {% empty %}
                <p class="text-center">No patient appointment requests at the moment.</p>
            {% endfor %}
        </div>
    </div>
    {% endblock %}
</body>
</html>
