<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar Page</title>
    {% load static %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
</head>
<body class="bg-light">
<nav class="navbar navbar-expand-lg navbar-dark bg-success">
    <div class="container-fluid">
        <a class="navbar-brand d-flex align-items-center gap-4" href="#">
            <div class="w-75 h-100">
                <img src="{% static 'images/logo.png' %}" alt="Hospital Logo" width="60" height="50" class="d-inline-block align-text-top rounded-circle px-2" style="object-fit: cover;">
            </div>
            Mental HealthCare System
        </a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    {% if user_role == 'patient' %}
                        <a class="nav-link active" href="{% url 'patient_dashboard' %}">Dashboard</a>
                    {% elif user_role == 'doctor' %}
                        <a class="nav-link active" href="{% url 'doctor_dashboard' %}">Dashboard</a>
                    {% else %}
                        <a class="nav-link active" href="{% url 'default_dashboard' %}">Dashboard</a> <!-- Optional default -->
                    {% endif %}
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Appointments</a>
                    {% if user_role == 'patient' %}
                        <a class="nav-link active" href="{% url 'patient_dashboard' %}">Request Appointment</a>
                    {% elif user_role == 'doctor' %}
                        <a class="nav-link active" href="{% url 'doctor_dashboard' %}">Appointments</a>
                    {% else %}
                        <a class="nav-link active" href="{% url 'default_dashboard' %}">Appointments</a> 
                    {% endif %}
                </li>
                <li class="nav-item">
                    {% if user_role == 'patient'%}
                        <a class="nav-link active" href="{% url 'search_doctor' %}">Search Doctors</a> 
                    {% elif user_role == 'doctor' %}
                        <a class="nav-link active" href="{% url 'search_patient' %}">Search Patient</a> 
                    {% else %}
                        <a class="nav-link active" href="{% url 'search_users' %}">Search Users</a> 
                    {% endif %}
                </li>
            </ul>
        </div>
        <div class="d-flex align-items-center">
        {% if user_role == 'patient'%}
        <a href="{% url 'update_patient_profile' %}" >
        <img src="/static/images/patient.png" alt="Patient" class="rounded-circle" width="40" height="40">
        </a>
        {% elif user_role == 'doctor' %}
        <a href="{% url 'update_doctor_profile' %}" >
        <img src="/static/images/doctor.png" alt="Doctor" class="rounded-circle" width="40" height="40"> 
        </a>
        {% else %}
        <a href="{% url 'update_doctor_profile' %}" >
        <img src="/static/images/auser.png" alt="User" class="rounded-circle" width="40" height="40">
        </a>
        {% endif %}
            <a href="{% url 'login' %}" class="btn btn-light ms-3">Logout</a>
        </div>
    </div>
</nav>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>