<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Doctors</title>
    {% load static%}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
</head>
<body class="bg-light">
    {% include 'navbar.html' %}
            <div class="container mt-5">
                <h2 class="text-center mb-4">Search Patient by Symptom</h2>
                <form method="post" class="mb-4">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-8">
                            {{ form.symptom.label_tag }}
                            {{ form.symptom }}
                        </div>
                        <div class="col-md-4">
                            <button type="submit" class="btn btn-success mt-4">Search</button>
                        </div>
                    </div>
                </form>
            </div>    
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>